In [3]:
import pandas as pd

# Load the raw dataset
df = pd.read_csv('marketing_campaign.csv', sep='\t')

# Display the first few rows to confirm it loaded correctly
print(df.head())

     ID  Year_Birth   Education Marital_Status   Income  Kidhome  Teenhome  \
0  5524        1957  Graduation         Single  58138.0        0         0
1  2174        1954  Graduation         Single  46344.0        1         1
2  4141        1965  Graduation       Together  71613.0        0         0
3  6182        1984  Graduation       Together  26646.0        1         0
4  5324        1981         PhD        Married  58293.0        1         0

  Dt_Customer  Recency  MntWines  ...  NumWebVisitsMonth  AcceptedCmp3  \
0  04-09-2012       58       635  ...                  7             0
1  08-03-2014       38        11  ...                  5             0
2  21-08-2013       26       426  ...                  4             0
3  10-02-2014       26        11  ...                  6             0
4  19-01-2014       94       173  ...                  5             0

   AcceptedCmp4  AcceptedCmp5  AcceptedCmp1  AcceptedCmp2  Complain  \
0             0             0             0             0         0
1             0             0             0             0         0
2             0             0             0             0         0
3             0             0             0             0         0
4             0             0             0             0         0

   Z_CostContact  Z_Revenue  Response
0              3         11         1
1              3         11         0
2              3         11         0
3              3         11         0
4              3         11         0

[5 rows x 29 columns]

In [4]:
# Convert all column names to lowercase and replace spaces with underscores
df.columns = [col.lower().strip().replace(" ", "_") for col in df.columns]

print(df.columns)

Index(['id', 'year_birth', 'education', 'marital_status', 'income', 'kidhome',
       'teenhome', 'dt_customer', 'recency', 'mntwines', 'mntfruits',
       'mntmeatproducts', 'mntfishproducts', 'mntsweetproducts',
       'mntgoldprods', 'numdealspurchases', 'numwebpurchases',
       'numcatalogpurchases', 'numstorepurchases', 'numwebvisitsmonth',
       'acceptedcmp3', 'acceptedcmp4', 'acceptedcmp5', 'acceptedcmp1',
       'acceptedcmp2', 'complain', 'z_costcontact', 'z_revenue', 'response'],
      dtype='object')

In [5]:
# Check for missing values
print(df.isnull().sum())

# Handle missing values: Filling 'income' with the median value
df['income'] = df['income'].fillna(df['income'].median())

id                      0
year_birth              0
education               0
marital_status          0
income                 24
kidhome                 0
teenhome                0
dt_customer             0
recency                 0
mntwines                0
mntfruits               0
mntmeatproducts         0
mntfishproducts         0
mntsweetproducts        0
mntgoldprods            0
numdealspurchases       0
numwebpurchases         0
numcatalogpurchases     0
numstorepurchases       0
numwebvisitsmonth       0
acceptedcmp3            0
acceptedcmp4            0
acceptedcmp5            0
acceptedcmp1            0
acceptedcmp2            0
complain                0
z_costcontact           0
z_revenue               0
response                0
dtype: int64

In [6]:
# Remove duplicate rows if any exist
df = df.drop_duplicates()

print(f"Dataset shape after removing duplicates: {df.shape}")

Dataset shape after removing duplicates: (2240, 29)

In [12]:
# Identify all text (object) columns
text_columns = df.select_dtypes(include=['object']).columns

# Standardize: Remove leading/trailing spaces and make text title-case for consistency
for col in text_columns:
    df[col] = df[col].str.strip().str.title()

In [13]:
# Fixing inconsistent categories in 'marital_status'
# Mapping 'Alone', 'Yolo', and 'Absurd' to 'Single'
df['marital_status'] = df['marital_status'].replace({
    'Alone': 'Single',
    'Absurd': 'Single',
    'Yolo': 'Single',
    'Together': 'Partner'
})

print("Standardized Marital Status:", df['marital_status'].unique())

Standardized Marital Status: ['Single' 'Partner' 'Married' 'Divorced' 'Widow']

In [14]:
# 1. Convert the column to a proper datetime object first
df['dt_customer'] = pd.to_datetime(df['dt_customer'], dayfirst=True)

# 2. Format the date into the required string format (dd-mm-yyyy)
df['dt_customer_formatted'] = df['dt_customer'].dt.strftime('%d-%m-%Y')

print("Date Sample:", df[['dt_customer_formatted']].head())

Date Sample:   dt_customer_formatted
0            04-09-2012
1            08-03-2014
2            21-08-2013
3            10-02-2014
4            19-01-2014

In [15]:
# 1. Create 'age' from 'year_birth' (assuming current year is 2024)
df['age'] = 2024 - df['year_birth']

# 2. Convert 'age' to integer type
df['age'] = df['age'].astype(int)

# 3. Handle outliers in age (Removing records where age is logically impossible, e.g., >100)
df = df[df['age'] < 100]

# Check final types
print(df.dtypes[['age', 'dt_customer', 'income']])

age                     int64
dt_customer    datetime64[ns]
income                float64
dtype: object

In [16]:
# Export the final cleaned version to a CSV file for submission
df.to_csv('cleaned_dataset.csv', index=False)
print("Task Complete: Cleaned dataset saved as 'cleaned_dataset.csv'")

Task Complete: Cleaned dataset saved as 'cleaned_dataset.csv'